@charset 'utf-8';

/*!
Theme Name: <your-theme-name>
License: GPLv2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Text Domain: <your-theme-text-domain>
Template: mimizuku
*/

@import '../../../mimizuku/src/stylus/style';
